<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-twilio-video" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TwilioVideo</name>
    <author>Gilles HAIAT</author>
    <license>MIT</license>
    <js-module name="TwilioVideo" src="www/TwilioVideo.js">
        <clobbers target="cordova.plugins.TwilioVideo" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="apple-ios" version=">=9.2.0" />
    </engines>
    <hook src="./hooks/after_plugin_install/hook-add-r-import.js" type="after_plugin_install" />
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="TwilioVideo">
                <param name="ios-package" value="TwilioVideoPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/TwilioVideoBridgingHeader.h" />
        <source-file src="src/ios/Utils.swift"/>
        <source-file src="src/ios/Settings.swift"/>
        <source-file src="src/ios/SettingsTableViewController.swift"/>
        <source-file src="src/ios/TwilioVideoPlugin.swift"/>
        <source-file src="src/ios/TwilioVideoViewController.swift"/>
        <resource-file src="src/ios/Resources/TwilioVideoSwift.storyboard" target="Resources/TwilioVideoSwift.storyboard" />
        <resource-file src="src/ios/Resources/end-call-ios-white-33px.png" target="Resources/end-call-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/no-mic-ios-white-33px.png" target="Resources/no-mic-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/no-video-ios-white-33px.png" target="Resources/no-video-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/switch-camera-ios-white-33px.png" target="Resources/switch-camera-ios-white-33px.png" />

        <framework src="AudioToolbox.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="GLKit.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libc++.tbd" />
        <framework src="TwilioVideo" type="podspec" spec="~> 2.0.0-beta2" />

        <preference name="CAMERA_USAGE_DESCRIPTION" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="MICROPHONE_USAGE_DESCRIPTION" />
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>
    </platform>
    <platform name="android">
        <hook type="after_plugin_install" src="hooks/after_plugin_install/hook-add-r-import.js" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TwilioVideo">
                <param name="android-package" value="org.apache.cordova.twiliovideo.TwilioVideoPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:name="android.hardware.camera" android:required="true" />
            <uses-feature android:name="android.hardware.camera.front" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
            <uses-feature android:name="android.hardware.audio.low_latency" />
            <uses-feature android:name="android.hardware.audio.output" />
            <uses-feature android:name="android.hardware.microphone" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="org.apache.cordova.twiliovideo.TwilioVideoActivity" android:configChanges="orientation|screenSize" android:theme="@style/Theme.AppCompat.Light"></activity>
        </config-file>
        <source-file src="src/android/TwilioVideoPlugin.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/TwilioVideoActivity.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/CameraCapturerCompat.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <framework src="src/android/twiliovideo.gradle" custom="true" type="gradleReference" />

        <resource-file src="src/android/res/drawable/ic_accept_yoobic_black_32px.xml" target="res/drawable/ic_accept_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_add_yoobic_black_32px.xml" target="res/drawable/ic_add_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_collapse_yoobic_black_32px.xml" target="res/drawable/ic_collapse_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_conference_yoobic_black_32px.xml" target="res/drawable/ic_conference_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_disconnected_yoobic_black_32px.xml" target="res/drawable/ic_disconnected_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_expand_yoobic_black_32px.xml" target="res/drawable/ic_expand_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_hangup_yoobic_black_32px.xml" target="res/drawable/ic_hangup_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_key_yoobic_black_32px.xml" target="res/drawable/ic_key_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_mute_yoobic_black_32px.xml" target="res/drawable/ic_mute_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_mutespeaker_yoobic_black_32px.xml" target="res/drawable/ic_mutespeaker_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_participant_yoobic_black_32px.xml" target="res/drawable/ic_participant_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_private_yoobic_black_32px.xml" target="res/drawable/ic_private_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_profile_yoobic_black_32px.xml" target="res/drawable/ic_profile_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_public_yoobic_black_32px.xml" target="res/drawable/ic_public_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_record_yoobic_black_32px.xml" target="res/drawable/ic_record_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_refresh_yoobic_black_32px.xml" target="res/drawable/ic_refresh_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_remove_yoobic_black_32px.xml" target="res/drawable/ic_remove_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_save_yoobic_black_32px.xml" target="res/drawable/ic_save_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_settings_yoobic_black_32px.xml" target="res/drawable/ic_settings_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_speaker_yoobic_black_32px.xml" target="res/drawable/ic_speaker_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_support_yoobic_black_32px.xml" target="res/drawable/ic_support_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_switchcam_yoobic_black_32px.xml" target="res/drawable/ic_switchcam_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_trash_yoobic_black_32px.xml" target="res/drawable/ic_trash_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_unmute_yoobic_black_32px.xml" target="res/drawable/ic_unmute_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_videodisable_yoobic_black_32px.xml" target="res/drawable/ic_videodisable_yoobic_black_32px.xml" />
        <resource-file src="src/android/res/drawable/ic_videoenable_yoobic_black_32px.xml" target="res/drawable/ic_videoenable_yoobic_black_32px.xml" />

        <resource-file src="src/android/res/layout/activity_video.xml" target="res/layout/activity_video.xml" />
        <resource-file src="src/android/res/layout/content_video.xml" target="res/layout/content_video.xml" />

        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />

        <resource-file src="src/android/res/xml/settings.xml" target="res/xml/settings.xml" />

        <resource-file src="src/android/res/values-v21/styles.xml" target="res/values-v21/styles.xml" />
        <resource-file src="src/android/res/values-w820dp/dimens.xml" target="res/values-w820dp/dimens.xml" />

    </platform>
</plugin>
